<div is="simply-component" rel="about"></div>
<button data-simply-command="showMenu" id="SimplyPresentButton" class="ds-button ds-button-naked ds-dropdown">
  <img class="simplyPresentLogo" src="https://cdn.simplyedit.io/graphics/simply-present-centered.svg" alt="SimplyPresent">
</button>
<input id="SimplyPresentState" type="checkbox" class="ds-dropdown-state">
<nav class="ds-dropdown-nav">
  <ul class="ds-dropdown-list">
    <li><a class="ds-dropdown-item" tabindex="0" data-simply-command="present">Present</a></li>
    <!-- li><a class="ds-dropdown-item" tabindex="0" data-simply-command="share">Share</a></li -->
    <li><a class="ds-dropdown-item" tabindex="0" data-simply-command="edit">Edit</a></li>
    <li class="ds-dropdown-divider"></li>
    <li><a class="ds-dropdown-item" tabindex="0" data-simply-command="aboutOpen">About</a></li>
  </ul>
</nav>
<div id="SimplyPresentBackdrop" data-simply-command="hideMenu"></div>