<div class="slides slides-present" data-simply-list="slides" data-simply-sortable>
  <div is="simply-component" rel="welcome-slide"></div>
  <template data-simply-template="title" rel="title"></template>
  <template data-simply-template="highlight" rel="highlight"></template>
  <template data-simply-template="grid" rel="grid"></template>
  <template data-simply-template="half-grid" rel="half-grid"></template>
  <template data-simply-template="columns" rel="columns"></template>
  <template data-simply-template="full" rel="full"></template>
</div>