.welcome-image {
  display: flex;
  padding: 2em;
  background: #eeeeee; /* Old browsers */
  background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
main.slides .welcome-slide {
  display: none;
}
main.slides.simply-empty .welcome-slide {
  display: grid;
}
body[data-simply-edit] main.slides .welcome-slide {
  display: none;
}