body[data-simply-edit] {
	overflow-y: auto;
}
body[data-simply-edit] .slides {
	overflow-y: auto;
	font-size: 1.1vw;
	display: block;
	scroll-snap-type: none;
}
body[data-simply-edit] .slide {
	width: 49%;
	height: 50vh;
	float: left;
	margin: 0 0 0.5% 0.5%;
	box-shadow: 2px 2px 5px #888;
}
.slide::before {
	margin-top: 24px !important;
	right: 24px !important;
	padding: 10px !important;
	border-radius: 50% !important;
	border: 0px !important;
}
.background-grey[data-simply-field]:focus {
	background: var(--grey-background) !important;
}
.background-highlight[data-simply-field]:focus {
	background: var(--highlight-background) !important;
}