@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:400,400i,700,700i');

:root {
	--highlight-dark: #009c55;
	--highlight-light: #00d455;
	--highlight-color: #fff;
	--highlight-background: linear-gradient( to bottom, var(--highlight-light), var(--highlight-dark) );

	--support-dark: #2ba3b0;
	--support-light: #4fb7c2;
	--support-color: #fff;
	--support-background: linear-gradient( to bottom, var(--support-light), var(--support-dark) );

	--grey-dark: #38393c;
	--grey-medium: #7f8185;
	--grey-light: #e9ebec;
	--grey-dark: #38393c;
	--black: #000;
	--white: #fff;
	--grey-background: var(--grey-dark);

	--font-family: 'Alegreya Sans', sans-serif;
	--font-size: 20px;
	--line-height: 1.5em;
	--color: #7f8185;
	--background: #fff;
}

/* general styling on default elements */

html, body {
	margin: 0;
	padding: 0;
	font-family: var(--font-family);
	font-size: var(--font-size);
	line-height: var(--line-height);
	color: var(--color); 
	background-color: var(--background);
}

h1 {
	font-size: 2.4em;
	font-weight: 300;
	line-height: 1.1em;
	margin: 0.5em 0;
}

h2 {
	font-size: 1.6em;
	font-weight: 400;
	line-height: 1.1em;
	margin: 0.5em 0;
}

* {
	box-sizing: border-box;
}

img {
	display: block;
	max-width: 100%;
}

/* custom styling for custom elements */

.button {
	padding: 0.5em 0.75em;
	margin: 0.625em;
	background: var(--support-background);
	color: var(--support-color);
    text-decoration: none;
    border-radius: 5px;
}
.button:first-child {
	margin-left: 0;
}
.button:last-child {
	margin-right: 0;
}
.button.highlight {
	background: var(--highlight-background);
	color: var(--highlight-color);
}

.text-content {
	padding: 2.2375em;
	max-width: 50em;
}
.text-content *:first-child {
	margin-top: 0;
}
